tr.template,
tr.hidden,
input.edit-task.hidden,
input.edit-date.hidden,
div.toggle-template.hidden,
button.cancel-edit.hidden,
button.save-edit.hidden,
button.edit-todo.hidden,
button.delete-todo.hidden,
.hidden {
  display : none;
}

tr.new-todo {
  font-style: italic;
  color: #7a7c7c;
}

.pipe {
  font-size: 24px;
}

tr.todo {
  font-size: 24px;
}
