.template {
  display : none;
}

.hidden {
  display: none;
}

/*div.toggle-group {
  width: 109.5px;
  height: 35px;
}*/

tr.new-todo {
  font-style: italic;
  color: #7a7c7c;
}

tr.row.tasks {
  font-size: 18px;
}

.pipe {
  font-size: 24px;
}
